{% extends 'layout.html' %}

{% block pageTitle %}
People who live with you | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">People at places stayed overnight</span>
    <h1 id="h1-content" class="govuk-heading-l">
      Check your answers before submitting your information
    </h1>

    <h2 class="govuk-heading-m">
      Stayed overnight at 1 Sovereign Way from Monday 1 August to Wednesday 3 August
    </h2>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          {{ data['contact-1-given-names'] | default('Fred')}} {{ data['contact-1-family-name'] | default('Philips')}}
        </dt>
        <dd class="govuk-summary-list__actions" style="width: 30%;">
          <a href="/case/household/contacts/check-answers/check-contact-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> name</span></a>
          <span class="govuk-body">|</span>
          <a href="#" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden"> person</span></a>
        </dd>
      </div>

    </dl>

    <p class="govuk-body">
      <a href="/case/household/visitors/date" class="govuk-link govuk-link--no-visited-state">
        Add another person who stayed overnight
      </a>
    </p>

    <h2 class="govuk-heading-m">
      Visitors to 1 Sovereign Way from Monday 1 August to Wednesday 3 August
    </h2>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          {{ data['contact-2-given-names'] | default('Elizabeth')}} {{ data['contact-2-family-name'] | default('Jones')}}
        </dt>
        <dd class="govuk-summary-list__actions" style="width: 30%;">
          <a href="/case/household/contacts/check-answers/check-contact-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> name</span></a>
          <span class="govuk-body">|</span>
          <a href="#" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden"> person</span></a>
        </dd>
      </div>

    </dl>

    <p class="govuk-body">
      <a href="/case/household/visitors/date" class="govuk-link govuk-link--no-visited-state">
        Add another visitor
      </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 id="h2-content" class="govuk-heading-m">
      Now submit your information
    </h2>

    <p class="govuk-body">
      By submitting this information, you are confirming that these details are correct. Once submitted you cannot edit details but you can still add more people.
    </p>

    <form action="#" accept-charset="UTF-8" method="post">

      <button id="button-content" class="govuk-button" data-module="govuk-button">
        Submit your information
      </button>

    </form>

  </div>
</div>

<script>
  window.onload = function() {
    // Proxy check
    var proxyValue = "{{ data['proxy'] }}";

    if (proxyValue == "No") {
      $("#h1-content").html('Check your answers before submitting {{ data["positive-case-given-names"] | default("Sarah") }} {{ data["positive-case-family-name"] | default("Philips") }}&#39;s information');
      $('#h2-content').html('Now submit their information');
      $('#button-content').html('Now submit their information');
      return false;
    }
  }
</script>
{% endblock %}
