{% extends 'layout.html' %}

{% block pageTitle %}
Symptoms start date | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Symptoms and health advice</span>
    <h1 class="govuk-heading-l">
      Symptoms start date
    </h1>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your symptoms
        </dt>
        <dd class="govuk-summary-list__value">
          <p>New, continuous cough</p>
          <p>High temperature or fever<br><span style="color: #4c6272">(You feel hot to touch on your chest or back)</span></p>
          <p>Sore throat</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of positive test
        </dt>
        <dd class="govuk-summary-list__value">
          Tuesday 29 June
        </dd>
      </div>

    </dl>

    <form action="summary" accept-charset="UTF-8" method="post">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            When did your symptoms first start?
          </h2>
        </legend>

        <div class="govuk-!-reading-width">
          <div class="govuk-hint">
            <!--<p>The first date you had symptoms might be different from when you tested positive for COVID-19 on <strong>Tuesday 29 June 2021</strong>.</p>-->
            <!--<p>If you have had more than one symptom, enter the date of when the first symptom started.</p>-->
            <!--<p>Enter the date the first symptom started. For example, 17 5 2021</p>-->
            <p>For example, 17 5 2021</p>
          </div>
        </div>

        <div class="govuk-date-input">

          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="episode_first_symptomatic_at_3i">
                Day
              </label>
              <input id="episode_first_symptomatic_at_3i" class="govuk-input govuk-date-input__input govuk-input--width-2" name="episode[first_symptomatic_at(3i)]" type="number" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>

          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="episode_first_symptomatic_at_2i">
                Month
              </label>
              <input id="episode_first_symptomatic_at_2i" class="govuk-input govuk-date-input__input govuk-input--width-2" name="episode[first_symptomatic_at(2i)]" type="number" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>

          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="episode_first_symptomatic_at_1i">
                Year
              </label>
              <input id="episode_first_symptomatic_at_1i" class="govuk-input govuk-date-input__input govuk-input--width-4" name="episode[first_symptomatic_at(1i)]" type="number" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>

        </div>

      </fieldset>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>
  </div>
</div>

<script>

</script>

{% endblock %}
