{% extends 'layout.html' %}

{% block pageTitle %}
What is your year of birth? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/border-response/authenticate" method="post" class="form">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label id="h1-content" class="govuk-label govuk-label--l" for="year-of-birth">
            What is {{ data["positive-case-given-names"] | default("Sarah") }} {{ data["positive-case-family-name"] | default("Philips") }}&#39;s year of birth?
          </label>
        </h1>
        <div id="year-of-birth-hint" class="govuk-hint">
          For example, 1980. We need to know this to confirm their identity.
        </div>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year-of-birth" name="year-of-birth" type="text" inputmode="numeric">
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>

</script>
{% endblock %}
