{% extends 'layout.html' %}

{% block pageTitle %}
You must quarantine | UK Health Security Agency
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You must quarantine until Thursday 2 June
      </h1>
      <div class="govuk-panel__body">
        Thank you. When you quarantine, you're helping to protect the people around you and the health of the UK.
      </div>
    </div>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p>
      If you start to feel unwell while you're quarantining, visit <a href="111.nhs.uk" class="govuk-link govuk-link--no-visited-state">NHS 111</a> online for advice. You can also dial 111 from your phone, or call 999 in a medical emergency.
    </p>
    <p>
      If your test result is positive, you should self-isolate for 10 full days from the date of your test. <strong>This end date might be later than Thursday 2 June.</strong>
    </p>

  </div>
</div>

{% endblock %}
