{% extends 'layout.html' %}

{% block pageTitle %}
You must quarantine | UK Health Security Agency
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You must quarantine until Thursday 2 June
      </h1>
      <div class="govuk-panel__body">
          We understand that it's difficult to quarantine. Right now, it is the law, and you may have to pay a fine if you do not follow the rules.<br><br>
          When you quarantine you are helping to protect the people around you and the health of the UK.
      </div>
    </div>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p class="govuk-body">
      A member of the UK Health Security Agency (UKHSA) team will contact you soon by phone. This is to help us understand why you do not agree to follow the rules. We can any questions or concerns you have.
    </p>
    <p class="govuk-body">
      We may also visit you at the address you provided on your Passenger Locator Form.
    </p>
    <p class="govuk-body">
      If you start to feel unwell, visit <a href="111.nhs.uk" class="govuk-link govuk-link--no-visited-state">NHS 111</a> online for advice. You can also dial 111 from your phone, or
      call 999 in a medical emergency.
    </p>

  </div>
</div>

<script>

</script>
{% endblock %}
