{% extends 'layout.html' %}

{% block pageTitle %}
Do you know their telephone number? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form name="myForm" action="/case/household/contacts/over-18" onsubmit="return validateForm()" method="post" required>

      <span class="govuk-caption-l">People at places stayed overnight</span>
      <div class="govuk-form-group" id="error-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which telephone number can we contact {{ data['contact-first-name-1'] | default('Elizabeth') }} {{ data['contact-last-name-1'] | default('Jones') }} on?
            </h1>
          </legend>

          <div class="govuk-hint">
            Consider using contact details of a responsible adult that can pass on the advice to the person. For example, if the person is a child or someone in care.
          </div>

          <div class="govuk-hint">
            A mobile number is preferred
          </div>

          <div class="govuk-radios govuk-radios--conditional">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="telephone-number-case" name="contact-telephone-number-1" type="radio" value="{{ data['test-telephone-number'] | default('07712345678') }}"
                {{ checked("contact-telephone-number-1", "{{ data['test-telephone-number'] | default('07712345678') }}") }}>
              <label class="govuk-label govuk-radios__label" for="phone-number-known-case">
                Use my telephone number: {{ data['test-telephone-number'] | default('07712345678') }}
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="telephone-number-another" name="contact-telephone-number-1" type="radio" aria-controls="conditional-contact-1" aria-expanded="false" value=""
                {{ checked("contact-telephone-number-1", "Another telephone number") }}>
              <label class="govuk-label govuk-radios__label" for="telephone-number-another">
                Another telephone number
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-1">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-visually-hidden" for="telephone">
                  Telephone number
                </label>
                <input class="govuk-input govuk-input--width-20" id="telephone" name="contact-telephone-1" type="tel" autocomplete="tel" value="{{ data['contact-telephone-1'] }}">
              </div>

            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="telephone-number-no" name="contact-telephone-number-1" type="radio" value="No telephone number" {{ checked("contact-telephone-number-1", "No telephone number") }}>
              <label class="govuk-label govuk-radios__label" for="telephone-number-no">
                They do not have a telephone number
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>

</script>
{% endblock %}
