{% extends 'layout.html' %}

{% block pageTitle %}
What is the name of the person who tested positive? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form name="myForm" id="myForm" action="/personal-details/proxy/are-you-named-person" onsubmit="return validateForm()" accept-charset="UTF-8" method="post" required>

      <div id="form-1" class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Personal details</span>
            <h1 class="govuk-fieldset__heading">
              Who tested positive?
            </h1>
          </legend>

          <div id="error-form-group-1" class="govuk-form-group">
            <label id="case-given-names-label" for="given-name" class="govuk-label">
              Given name(s)
            </label>
            <input id="case-given-names" class="govuk-input govuk-!-width-two-thirds" autocomplete="case-given-names" spell_check="false" type="text" name="case-given-names" value="{{ data['upstream-case-given-names'] | default('Sarah') }}">
          </div>

          <div id="error-form-group-2" class="govuk-form-group">
            <label id="case-family-name-label" for="family-name" class="govuk-label">
              Family name
            </label>
            <input id="case-family-name" class="govuk-input govuk-!-width-two-thirds" autocomplete="case-family-name" spell_check="false" type="text" name="case-family-name" value="{{ data['upstream-case-family-name'] | default('Philips') }}">
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>
  // Errors
  function validateForm() {
    $('#error-form-group-1').removeClass('govuk-form-group--error');
    $('#error-form-group-2').removeClass('govuk-form-group--error');
    $('#case-given-names').removeClass('govuk-input--error');
    $('#case-family-name').removeClass('govuk-input--error');
    $('#error-message-1').remove();
    $('#error-message-1').html('');
    $('#error-message-2').remove();
    $('#error-message-2').html('');
    $('#error-summary').remove();
    $('#error-summary-list').html('');

    var givenNames = $('[name=case-given-names').val();
    var familyName = $('[name=case-family-name]').val();


    if (givenNames == "" || givenNames == null || familyName == "" || familyName == null) {
      $('#myForm').prepend(
        '<div id="error-summary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary"><h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2><div class="govuk-error-summary__body"><ul id="error-summary-list" class="govuk-list govuk-error-summary__list"><li id="error-list-item-1"></li><li id="error-list-item-2"></li></ul></div></div>'
      );

      // Blank fields
      if (givenNames == "" || givenNames == null) {

        // Error form group styling
        $('#error-form-group-1').addClass('govuk-form-group--error');

        // Error input field styling
        $('#case-given-names').addClass('govuk-input--error');

        // Error message
        $('#case-given-names-label').append('<p id="error-message-1" class="govuk-error-message"></p>');
        $('#error-message-1').html('<span id="error-1"><span class="govuk-visually-hidden">Error:</span> Enter the given names of the person who tested positive</span>');

        // Error summary
        $('#error-list-item-1').html('<a href="#error-1">Enter the given names of the person who tested positive</a>');
      }

      if (familyName == "" || familyName == null) {

        // Error form group styling
        $('#error-form-group-2').addClass('govuk-form-group--error');

        // Error input field styling
        $('#case-family-name').addClass('govuk-input--error');

        // Error message
        $('#case-family-name-label').append('<p id="error-message-2" class="govuk-error-message"></p>');
        $('#error-message-2').html('<span id="error-2"><span class="govuk-visually-hidden">Error:</span> Enter the family name of the person who tested positive</span>');

        // Error summary
        $('#error-list-item-2').html('<a href="#error-2">Enter the family name of the person who tested positive</a>');
      }

      return false;
    }

    return true;
  }
</script>
{% endblock %}
