{% extends 'layout.html' %}

{% block pageTitle %}
Confirm your agreement to quarantine | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" id="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" hidden>
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li><a href="#error-1"><span id="error-summary-content-1"></span></a></li>
        </ul>
      </div>
    </div>

    <h1 class="govuk-heading-l" id="h1-content">
      Confirm your agreement to quarantine
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Important: </span>
        <p>
          It is a legal requirement for you to quarantine until <strong>{{ data["quarantine-end-date"] | default("Thursday 2 June") }} (including this date)</strong>.
        </p>
        <p>
          If you are completing this form for <strong>{{ data["traveller-given-names"] | default("Sarah") }} {{ data["traveller-family-name"] | default("Philips") }}</strong>, you will be confirming that they agree to quarantine.
        </p>
      </strong>
    </div>

    <p class="govuk-body">Do:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>stay at the address you stated on your Passenger Locator Form</li>
      <li>take the tests you booked, and report the results</li>
      <li>suggest that everyone in the household quarantines with you, if you are in a private home</li>
    </ul>

    <p class="govuk-body">Don&#39;t:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>do not allow any visitors to your accommodation, including hotel staff or friends and family (except if there is an emergency)</li>
      <li>do not leave quarantine for any reason (except if you're attending your health test, posting a self-administered test, or if you're at risk of harm)</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l">

    <div class="govuk-inset-text">
      <p>
        You must follow these quarantine rules. It keeps you and the community safe.
      </p>
      <p>
        Failure to quarantine is against the law, and may result in a police investigation.
      </p>
    </div>

    <form name="myForm" id="myForm" action="/border-response/confirmation" onsubmit="return validateForm()" accept-charset="UTF-8" method="post" required>

      <div class="govuk-form-group" id="error-form-group">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h3 class="govuk-fieldset__heading">
              Do you agree to quarantine as instructed?
            </h3>
          </legend>

          <div class="govuk-radios" id="form-1">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agree-yes" name="compliance" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="agree-yes">
                Yes, I agree
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agree-no" name="compliance" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="agree-no">
                No, I do not agree
              </label>
            </div>

          </div>

        </fieldset>

      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>
  // Errors
  function validateForm() {
    var formOptions = document.forms["myForm"]["compliance"].value;

    if (formOptions == "" || formOptions == null) {

      // Error form group styling
      var formGroup = document.getElementById("error-form-group");
      formGroup.classList.add("govuk-form-group--error");

      // Error message
      //var errorMessage = document.getElementById("error-1");
      //errorMessage.style.display = 'block';

      $('#form-1').prepend('<span class="govuk-error-message" id="error-1" hidden><span class="govuk-visually-hidden">Error:</span> Select yes if you agree to quarantine</span>');

      // var errorMessageContent1 = document.getElementById("error-message-content-1");
      // errorMessageContent1.innerHTML = 'Select yes if you agree to quarantine';

      // Error summary
      var errorSummary = document.getElementById("error-summary");
      errorSummary.style.display = 'block';
      errorSummary.focus();

      var errorSummaryContent1 = document.getElementById("error-summary-content-1");
      errorSummaryContent1.innerHTML = '<a href="#error-1">Select yes if you agree to quarantine</a>';

      // $('#h1-content').prepend('<div class="govuk-error-summary" id="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" hidden><h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2><div class="govuk-error-summary__body"><ul class="govuk-list govuk-error-summary__list"><li><a href="#error-1">Select yes if you agree to quarantine</a></li></ul></div></div>');

      return false;
    }
  }
</script>
{% endblock %}
