{% extends 'layout.html' %}

{% block pageTitle %}
Remove overnight stay | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Remove {{ data['other-address-1-line-1'] | default('33 Rocky Park Road') }}
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['other-address-1-line-1'] | default('33 Rocky Park Road') }}<br>
          {{ data['other-address-1-town-city'] | default('Plymouth') }}<br>
          {{ data['other-address-1-post-code'] | default('PL9 7DQ') }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of housing
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['other-address-1-housing-type'] | default('House or flat') }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Days stayed overnight
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['address-2-days-stayed'] | default('Monday 1 August') }}
        </dd>
      </div>
    </dl>

    <form name="myForm" action="/places-stayed-overnight/review/submit-information" onsubmit="return validateForm()" method="post" required>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Are you sure you want to remove {{ data['other-address-1-line-1'] | default('33 Rocky Park Road') }}?
            </h2>
          </legend>

          <div class="govuk-form-group">

            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remove-contact-yes" name="remove-contact" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="lived-with-others-1">
                  Yes, I want to remove this place
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remove-contact-no" name="remove-contact" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="lived-with-others-2">
                  No, I do not want to remove this place
                </label>
              </div>

            </div>
          </div>

        </fieldset>
      </div>

      <input type="hidden" name="answers-checked" value="true">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>

</script>
{% endblock %}
