{% extends 'layout_unbranded.html' %}

{% block pageTitle %}
Pre-prototype questions
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Pre-prototype questions
    </h1>

    <p class="govuk-body">
      This information will be used in the prototype you are about to test to make it more realistic.
    </p>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m">
      Name on Passenger Locator Form
    </h2>

    <span id="current-time"></span>

    <form action="/border-response/messages/sms--in-country" accept-charset="UTF-8" method="post">

      <div class="govuk-form-group">
        <label for="individual-first-name" class="govuk-label">
          Given name(s) (of traveller)
        </label>
        <input id="positive-case-given-names" class="govuk-input govuk-!-width-one-half" autocomplete="positive-case-given-names" spell_check="false" type="text" name="test-given-names" value="{{ data['test-given-names'] }}">
      </div>

      <div class="govuk-form-group">
        <label for="individual-last-name" class="govuk-label">
          Last name (of traveller)
        </label>
        <input id="positive-case-family-name" class="govuk-input govuk-!-width-one-half" autocomplete="positive-case-family-name" spell_check="false" type="text" name="test-family-name" value="{{ data['test-family-name'] }}">
      </div>

      <!--<div class="govuk-form-group">
          <label for="test-age" class="govuk-label">
            Age (of traveller)
          </label>
          <div class="govuk-radios" id="test-age">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="plf-over-18" name="plf1-age" type="radio" value="18 or over" {{ checked("plf1-age", "18 or over") }}>
              <label class="govuk-label govuk-radios__label" for="plf-over-18">
                18 or over
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="plf-under-18" name="plf1-age" type="radio" value="Under 18" {{ checked("plf1-age", "Under 18") }}>
              <label class="govuk-label govuk-radios__label" for="plf-under-18">
                Under 18
              </label>
            </div>

          </div>
      </div>-->

      <hr class="govuk-section-break govuk-section-break--l">

      <div id="error-form-group" class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 id="h1-content" class="govuk-fieldset__heading">
              Date of birth on Passenger Locator Form
            </h1>
          </legend>

          <div id="date-of-birth-hint" class="govuk-hint">
            For example, 31 3 1980.
          </div>

          <div class="govuk-date-input" id="form-1">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>

        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-m">
        Contact details on Passenger Locator Form
      </h2>

      <div class="govuk-form-group">
        <label for="individual-email-field" class="govuk-label">
          Email address (of traveller)
        </label>
        <span class="govuk-hint" id="individual-email-hint">
          For example, mail@example.com
        </span>
        <input id="individual-email-field" class="govuk-input govuk-!-width-two-thirds" aria-describedby="individual-email-hint" autocomplete="email" spellcheck="false" type="email" name="test-email-address" value="{{ data['test-email-address'] }}">
      </div>

      <div class="govuk-form-group">
        <label for="plf-phone-field" class="govuk-label">
          Telephone number (of traveller)
        </label>
        <span class="govuk-hint" id="plf-phone-hint">
          For international numbers include the country code
        </span>
        <input id="plf-phone-field" class="govuk-input govuk-!-width-one-third" aria-describedby="plf-phone-hint" autocomplete="tel" type="tel" name="plf1-phone-number" value="{{ data['plf1-phone-number'] }}">
      </div>

      <hr class="govuk-section-break govuk-section-break--m">

      <button class="govuk-button" type="submit">
        Generate prototype
      </button>

    </form>

  </div>
</div>
{% endblock %}
