{% extends 'layout.html' %}

{% block pageTitle %}
People who live with you | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">People at places stayed overnight</span>
    <h1 class="govuk-heading-l">
      Check people who visited or stayed overnight at {{ data['current-address-line-1'] | default('1 Sovereign Way') }} from Monday 1 August to Wednesday 3 August
    </h1>

    <div class="govuk-form-group">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ data['contact-1-given-names'] | default('Elizabeth') }} {{ data['contact-1-family-name'] | default('Jones') }}
          </dt>
          <dd class="govuk-summary-list__value">
            Tuesday 2 August<br>Wednesday 3 August
          </dd>
          <dd class="govuk-summary-list__actions" style="width: 30%;">
            <a href="/case/household/contacts/check-answers/check-contact-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> name</span></a>
              <span class="govuk-body">|</span>
            <a href="#" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden"> person</span></a>
          </dd>
        </div>
      </dl>
    </div>

    <hr class="govuk-section-break govuk-section-break--m">

    <form name="myForm" action="/case/household/visitors/check-answers/submit-information" onsubmit="return validateForm()" method="post" required>

      <div class="govuk-form-group" id="anyone-else-form-group">
        <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Do you need to add someone?
              </h2>
            </legend>

            <div class="govuk-form-group">

              <div class="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="anyone-else-yes" name="anyone-else" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="anyone-else-yes">
                    Yes, I need to add someone
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="anyone-else-no" name="anyone-else" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="anyone-else-no">
                    No, I do not need to add someone
                  </label>
                </div>

              </div>
            </div>

        </fieldset>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Which people should I include?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Include visitors and overnight guests you had close contact with. This might be friends and family or someone who worked inside your home, like a cleaner or plumber.
          </p>
          <p>
            'Close contact' means you were face to face for at least a minute, or you were less than 2 metres apart for 15 minutes or more.
          </p>
          <p>
            Do not include healthcare workers, carers or social workers.
          </p>
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--m">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>

</div>

<script>

</script>
{% endblock %}
