{% extends 'layout.html' %}

{% block pageTitle %}
HPEP prototype | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      HPEP prototype
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
      Information incomplete
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-7">
      You have completed 1 of 9 sections.
    </p>

    <ol class="app-task-list">
      <li>

        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> About you
        </h2>

        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="eligibility-status">
                Personal details
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="personal-details-status">Completed</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="eligibility-status">
                Health information
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="health-information-status">Not started</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="eligibility-status">
                Symptoms and health advice
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="symptoms-and-health-advice-status">Not started</strong>
          </li>

        </ul>
      </li>

      <li>

        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Where you lived or stayed
        </h2>

        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Places stayed overnight
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="places-stayed-overnight-status">Cannot start yet</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              People in the places you stayed overnight
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="people-stayed-overnight-status">Cannot start yet</strong>
          </li>

        </ul>
      </li>

      <li>

        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Places you visited
        </h2>

        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Places of activities outside the home
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="activities-status">Cannot start yet</strong>
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              People at activities outside the home
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="people-activities-status">Cannot start yet</strong>
          </li>

        </ul>
      </li>

      <li>

        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Additional information
        </h2>

        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Support
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="support-status">Cannot start yet</strong>
          </li>

        </ul>
      </li>

      <li>

        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> Complete form
        </h2>

        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Submit
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-status">Cannot start yet</strong>
          </li>

        </ul>
      </li>

    </ol>
  </div>
</div>

<script>

</script>
{% endblock %}
