{% extends 'layout.html' %}

{% block pageTitle %}
Create a password | NHS Test and Trace
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="#" data-turbolinks="false" onclick="goBack()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <form class="new_individual" id="new_individual" action="/case/start/account-set-up" accept-charset="UTF-8" method="post" _lpchecked="1">
      <input type="hidden" name="authenticity_token" value="LRD0Vu8fHTsT0VJ6YkNgDTtYA3K/sp+LRZ6pCsEw4rqWC2i875RlOsMpZmCXvom+dVDEXtx9k143W7cdVgri8A==">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">

          <div class="nhsuk-u-reading-width">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Create a password
              </h1>
            </legend>

            <div class="nhsuk-hint" id="individual-account-id-hint">
              Your password must have at least 10 characters.
            </div>

            <div class="nhsuk-hint">
              You can use any combination of letters, numbers and symbols.
            </div>

            <div class="nhsuk-hint">
              Do not create a password that is easy to guess, like 'password123'.
            </div>

          </div>

          <div class="nhsuk-form-group">
            <label for="individual-password-field" class="nhsuk-label">
              Password
            </label>
            <input id="individual-password-field" class="nhsuk-input nhsuk-u-width-one-third" required="required" autocomplete="off" type="password" name="individual[password]">
          </div>

          <div class="nhsuk-form-group">
            <label for="individual-password-field" class="nhsuk-label">
              Confirm password
            </label>
            <input id="individual-password-field" class="nhsuk-input nhsuk-u-width-one-third" required="required" autocomplete="off" type="password" name="individual[password]">
          </div>

          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                Show password
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>

<script type="text/javascript">

</script>
{% endblock %}
