{% extends 'layout.html' %}

{% block pageTitle %}
Did these people travel outside of the UK shortly before they tested positive for [disease type]? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" accept-charset="UTF-8" method="post">

      <span class="govuk-caption-l">International travel</span>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 id="h1-content" class="govuk-fieldset__heading">
              Did you travel outside of the UK or take any domestic flights from Sunday 17 July to Sunday 31 July?
            </h1>
          </legend>

          <div class="govuk-hint">
            This includes any travel outside the UK, as well as domestic flights staying within the UK
          </div>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="answer-1" name="contacts-travelled" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="answer-1">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="answer-3" name="contacts-travelled" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="answer-3">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>

</script>
{% endblock %}
