{% extends 'layout.html' %}

{% block pageTitle %}
Where are you living or staying right now? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/places-stayed-overnight/current-address/housing-type" accept-charset="UTF-8" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">
              Where are you living or staying right now?
            </h1>
          </legend>

          <div class="govuk-hint">
            This might be your current home, or a place you're staying at, like a hotel or a friend's house.
          </div>

          <hr class="govuk-section-break govuk-section-break--m">

          <div class="govuk-form-group">
            <label class="govuk-label" for="current-address-line-1">
              Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="current-address-line-1" name="current-address-line-1" type="text" value="">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="current-address-line-2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="current-address-line-2" name="current-address-line-2" type="text" value="">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="current-town-or-city">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="current-address-town-or-city" name="current-town-or-city" type="text" value="">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="current-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="current-address-postcode" name="current-postcode" type="text" value="">
          </div>

        </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--m">

      <p class="govuk-body">
        <a href="/places-stayed-overnight/review/anywhere-else" class="govuk-link govuk-link--no-visited-state">
          I am outside of the UK right now
        </a>
      </p>

      <hr class="govuk-section-break govuk-section-break--m">

      <button class="govuk-button" type="submit">
        Continue
      </button>

    </form>
  </div>
</div>

<script>
  window.onload = function() {
    // Proxy check
    var proxyValue = "{{ data['proxy'] }}";

    if (proxyValue == "No") {
      $('#h1-content').html('Where is {{ data["positive-case-given-names"] | default("Sarah") }} {{ data["positive-case-family-name"] | default("Philips") }} living or staying right now?');
      $('#current-address-hint').html('This might be their current home, or a place they&#39;re staying at, like a hotel or a friend&#39;s house.');
      $('#outside-uk-link').html('They&#39;re outside of the UK right now');
    }
  }
</script>
{% endblock %}
