{% extends 'layout.html' %}

{% block pageTitle %}
Why are you completing this person's information? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form name="myForm" id="myForm" action="/personal-details/contact-details/contact-preference" onsubmit="return validateForm()" accept-charset="UTF-8" method="post" required>

      <span class="govuk-caption-l">Personal details</span>
      <div id="error-form-group-1" class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Why are you completing <span class="govuk-highlight">{{ data['case-given-names'] | default('Sarah') }} {{ data['case-family-name'] | default('Philips') }}</span>'s information?
            </h1>
          </legend>

          <div class="govuk-hint" id="contact-hint">
            Select all that apply.
          </div>

          <div id="form-1" class="govuk-checkboxes govuk-checkboxes--conditional" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="parent-guardian" name="why-proxy" type="checkbox" value="Parent or legal guardian" data-checkbox-exclusive-group="reason-list">
              <label class="govuk-label govuk-checkboxes__label" for="parent-guardian">
                I'm their parent or legal guardian
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="carer" name="why-proxy" type="checkbox" value="Carer" data-checkbox-exclusive-group="reason-list">
              <label class="govuk-label govuk-checkboxes__label" for="carer">
                I'm their carer
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="mca" name="why-proxy" type="checkbox" value="Authority under Mental Capacity Act" data-checkbox-exclusive-group="reason-list">
              <label class="govuk-label govuk-checkboxes__label" for="mca">
                I have the authority to make healthcare decisions for them under the Mental Capacity Act 2005
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="need-help" name="why-proxy" type="checkbox" value="Cannot complete without help" data-checkbox-exclusive-group="reason-list">
              <label class="govuk-label govuk-checkboxes__label" for="need-help">
                They cannot complete this information without help
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="another-reason" name="why-proxy" type="checkbox" value="Another reason" aria-controls="conditional-contact-5" aria-expanded="false" data-checkbox-exclusive-group="reason-list">
              <label class="govuk-label govuk-checkboxes__label" for="another-reason">
                Another reason
              </label>
            </div>

            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-5">

              <div id="error-form-group-2" class="govuk-form-group">
                <label id="reason-label" class="govuk-label" for="reason">
                  Reason
                </label>
                <input class="govuk-input" id="reason" name="why-proxy-reason" type="text">
              </div>

            </div>

          </div>
        </fieldset>

      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is the Mental Capacity Act?
          </span>
        </summary>
        <div class="govuk-details__text">
          The Mental Capacity Act (MCA) supports people who do not have the mental capacity to make decisions about their own care. The MCA applies to people aged 16 or over in England and Wales.
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--m">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>
  // Errors
  function validateForm() {
    $('#error-form-group-1').removeClass('govuk-form-group--error');
    $('#error-form-group-2').removeClass('govuk-form-group--error');
    $('#reason').removeClass('govuk-input--error');
    $('#error-message-1').remove();
    $('#error-message-1').html('');
    $('#error-message-2').remove();
    $('#error-message-2').html('');
    $('#error-summary').remove();
    $('#error-summary-list').html('');
    $('#error-list-item-1').remove();
    $('#error-list-item-2').remove();

    var proxyReasons = $('[name=why-proxy]');
    var anotherReason = $('[name=why-proxy-reason]').val();

    // Blank fields
    if (proxyReasons.is(":checked")) {
      if (($('#another-reason').is(":checked")) && (anotherReason == "" || anotherReason == null)) {

        $('#myForm').prepend(
          '<div id="error-summary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary"><h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2><div class="govuk-error-summary__body"><ul id="error-summary-list" class="govuk-list govuk-error-summary__list"><li id="error-list-item-1"></li><li id="error-list-item-2"></li></ul></div></div>'
        );

        // Error form group styling
        $('#error-form-group-2').addClass('govuk-form-group--error');

        // Error input field styling
        $('#reason').addClass('govuk-input--error');

        // Error message
        $('#reason-label').append('<p id="error-message-2" class="govuk-error-message"></p>');
        $('#error-message-2').html('<span id="error-2"><span class="govuk-visually-hidden">Error:</span> Enter the reason why you are completing their information</span>');

        // Error summary
        $('#error-list-item-2').html('<a href="#error-2">Enter the reason why you are completing their information</a>');

        return false;
      } else {
        return true;
      }

    } else {
      $('#myForm').prepend(
        '<div id="error-summary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary"><h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2><div class="govuk-error-summary__body"><ul id="error-summary-list" class="govuk-list govuk-error-summary__list"><li id="error-list-item-1"></li><li id="error-list-item-2"></li></ul></div></div>'
      );

      // Error form group styling
      $('#error-form-group-1').addClass('govuk-form-group--error');

      // Error message
      $('#form-1').prepend('<p id="error-message-1" class="govuk-error-message"></p>');
      $('#error-message-1').html('<span id="error-1"><span class="govuk-visually-hidden">Error:</span> Select why you&#39;re completing this information for them</span>');

      // Error summary
      $('#error-list-item-1').html('<a href="#error-1">Select why you&#39;re completing this information for them</a>');

      return false;
    }
  }
</script>
{% endblock %}
