{% extends 'layout.html' %}

{% block pageTitle %}
Create a password | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="new_individual" id="new_individual" action="/task-list-initial" accept-charset="UTF-8" method="post" _lpchecked="1">
      <input type="hidden" name="authenticity_token" value="LRD0Vu8fHTsT0VJ6YkNgDTtYA3K/sp+LRZ6pCsEw4rqWC2i875RlOsMpZmCXvom+dVDEXtx9k143W7cdVgri8A==">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Create a password
              </h1>
            </legend>

            <div class="govuk-hint" id="individual-account-id-hint">
              Your password must have at least 10 characters.
            </div>

            <div class="govuk-hint">
              You can use any combination of letters, numbers and symbols.
            </div>

            <div class="govuk-hint">
              Do not create a password that is easy to guess, like 'password123'.
            </div>

          <div class="govuk-form-group">
            <label for="individual-password-field" class="govuk-label">
              Password
            </label>
            <input id="individual-password-field" class="govuk-input govuk-!-width-one-half" required="required" autocomplete="off" type="password" name="individual[password]">
          </div>

          <div class="govuk-form-group">
            <label for="individual-password-field" class="govuk-label">
              Confirm password
            </label>
            <input id="individual-password-field" class="govuk-input govuk-!-width-one-half" required="required" autocomplete="off" type="password" name="individual[password]">
          </div>

          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="govuk-label govuk-checkboxes__label" for="example-1">
                Show password
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>


    </form>

  </div>
</div>

<script>

</script>
{% endblock %}
