{% extends "layout.html" %}

{% block pageTitle %}
Index of HPEP prototype pages | UK Health Security Agency
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Index of HPEP prototype pages
    </h1>

    <h2 class="govuk-heading-l">
      Onboarding
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Invites and reminders
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Positive case
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/positive-case/invite--email">
                Invite (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/positive-case/invite--sms">
                Invite (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/positive-case/reminder--email">
                Reminder (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/positive-case/reminder--sms">
                Reminder (text message)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Exposed individual
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/exposed-individual/invite--email">
                Invite (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/exposed-individual/invite--sms">
                Invite (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/exposed-individual/reminder--email">
                Reminder (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/exposed-individual/reminder--sms">
                Reminder (text message)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Border response
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/border-response/ukhsa-intro--sms">
                UKHSA intro (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/border-response/in-country--sms">
                Arrived in UK? (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/border-response/yes--sms">
                Link to webform (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/border-response/no--sms">
                New PLF required (text message)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Secure login
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            Start
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/start/positive-case">
                Positive case
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/start/exposed-individual">
                Exposed individual
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/start/generic">
                Generic
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Security
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/sign-in">
                Sign in
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/forgotten-password/reset-password">
                Reset password
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/forgotten-password/received-request">
                Received request
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/forgotten-password/password-reset--email">
                Password reset (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/create-password">
                Create password
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Identity check
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">
            Basic identity check
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/identity-check/date-of-birth">
                Date of birth
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/identity-check/not-matched">
                Not matched
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      About you
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Personal details
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Name
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/name/case">
                What is the name of the person who tested positive?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/name/exposed-individual">
                What is the name of the person identified as a contact of someone who tested positive?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Proxy
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/proxy/are-you-named-person">
                Are you the named person?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/proxy/name">
                What is your name?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/proxy/reason">
                Why are you completing this person's information?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Contact details
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/contact-details/contact-preference">
                How would you prefer to be contacted?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/contact-details/email-address">
                What is your name?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/contact-details/telephone-number">
                Why are you completing this person's information?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Occupation
          </p>
          <ul class="govuk-list">
            <li>
              <em>to be designed</em>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Check answers (Personal details)
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/check-answers">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/check-answers--locked">
                Check your answers before submitting your information (locked)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Health information
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            NHS number
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/name/case">
                Know NHS number
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/name/exposed-individual">
                What is your NHS number?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Vaccines
          </p>
          <ul class="govuk-list">
            <li>
              <em>to be designed</em>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Treatment (medication)
          </p>
          <ul class="govuk-list">
            <li>
              <em>to be designed</em>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Check answers (Health information)
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/health-information/check-answers">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/health-information/check-answers--locked">
                Check your answers before submitting your information (locked)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Symptoms and health advice
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">
            Symptoms
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms">
                Symptoms
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms">
                Symptoms start date
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Check answers (Symptoms and health advice)
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/check-answers">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/check-answers--locked">
                Check your answers before submitting your information (locked)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Health advice
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/health-advice">
                Health advice
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Where you lived or stayed
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Places stayed overnight
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Current address
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Current address
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Accommodation type
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Check answers
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Other places stayed
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Stayed anywhere else?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Address of place
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Accommodation type
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Dates stayed overnight
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Check answers
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Submit information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Remove place
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Anywhere else? (returning user)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              People at places stayed overnight
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            People
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Had people stay or visit [address 1]?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Names
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Type of contact
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Overnight stay?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Overnight stay
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Dates stayed?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Email address
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Telephone number
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Age range
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Visitor
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Dates visited?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Contact details
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Age range
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Lives in UK?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Country
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Check answers
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Submit information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Remove person
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change name
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Anywhere else? (returning user)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Health advice
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice for exposed individuals
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Where you travelled
    </h2>

    <h3 class="govuk-heading-m">
      International travel
    </h3>

    <p class="govuk-body">
      Review
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Review
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l">

    <h3 class="govuk-heading-m">
      Domestic flights
    </h3>

    <p class="govuk-body">
      Review
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Review
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Places you visited
    </h2>

    <h3 class="govuk-heading-m">
      Places of activities outside your home
    </h3>

    <p class="govuk-body">
      Review
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Review
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l">

    <h3 class="govuk-heading-m">
      People at activities outside your home
    </h3>

    <p class="govuk-body">
      Review
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Review
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Health advice
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      About your contacts
    </h2>

    <h3 class="govuk-heading-m">
      International travel of contacts
    </h3>

    <p class="govuk-body">
      Had contact and they travelled
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Had contact with positive case
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          People that tested positive travelled internationally
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Countries they visited
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Check answers (International travel of contacts)
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/check-answers">
          Check your answers before submitting your information
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/check-answers--locked">
          Check your answers before submitting your information (locked)
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l">

    <h3 class="govuk-heading-m">
      Cause of infection
    </h3>

    <p class="govuk-body">
      How and where
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Think know cause
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Think know where
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Household
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Think know who (household)
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Know if tested positive
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Non-household
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Know if a person tested positive
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Check answers (Cause of infection)
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/check-answers">
          Check your answers before submitting your information
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/check-answers--locked">
          Check your answers before submitting your information (locked)
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Additional information
    </h2>

    <h3 class="govuk-heading-m">
      Support
    </h3>

    <p class="govuk-body">
      Support
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Support
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Complete form
    </h2>

    <h3 class="govuk-heading-m">
      Equality information
    </h3>

    <p class="govuk-body">
      Answer equality questions?
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Answer equality questions?
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Date of birth
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Date of birth
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Sex and gender identity
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Sex and gender identity
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Ethnicity
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Ethnic background: White
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Ethnic background: Mixed
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Ethnic background: Asian
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Ethnic background: Black
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Ethnic background: Other
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l">

    <h3 class="govuk-heading-m">
      Submit
    </h3>

    <p class="govuk-body">
      Border response compliance
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Agreement
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Confirmation (compliant)
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Confirmation (non-compliant)
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Confirmation
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Positive case
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Exposed individual
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Escalation
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Other pages
    </h2>

    <p class="govuk-body">
      Server errors
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Agreement
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Confirmation (compliant)
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Confirmation (non-compliant)
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      Other pages
    </p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Positive case
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Exposed individual
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Escalation
        </a>
      </li>
    </ul>

    <p class="govuk-body-s">
      Last updated 16 August 2022
    </p>

  </div>
</div>

{% endblock %}
