{% extends "layout.html" %}

{% block pageTitle %}
Index of HPEP prototype pages | UK Health Security Agency
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      HPEP page index
    </h1>

    <h2 class="govuk-heading-l">
      Onboarding
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Invites and reminders
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Positive case
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/positive-case/invite--email">
                Invite (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/positive-case/invite--sms">
                Invite (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/positive-case/reminder--email">
                Reminder (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/positive-case/reminder--sms">
                Reminder (text message)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Exposed individual
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/exposed-individual/invite--email">
                Invite (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/exposed-individual/invite--sms">
                Invite (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/exposed-individual/reminder--email">
                Reminder (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/exposed-individual/reminder--sms">
                Reminder (text message)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Border response
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/border-response/ukhsa-intro--sms">
                UKHSA intro (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/border-response/in-country--sms">
                Arrived in UK? (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/border-response/yes--sms">
                Link to webform (text message)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/invites-and-reminders/border-response/no--sms">
                New PLF required (text message)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Secure login
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            Start
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/start/positive-case">
                Positive case
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/start/exposed-individual">
                Exposed individual
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/start/generic">
                Generic
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Security
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/sign-in">
                Sign in
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/forgotten-password/reset-password">
                Reset password
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/forgotten-password/received-request">
                Received request
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/forgotten-password/password-reset--email">
                Password reset (email)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/secure-login/create-password">
                Create password
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Identity check
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">
            Basic identity check
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/identity-check/date-of-birth">
                Date of birth
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/identity-check/not-matched">
                Not matched
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      About you
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Personal details
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Name
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/name/case">
                What is the name of the person who tested positive?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/name/exposed-individual">
                What is the name of the person identified as a contact of someone who tested positive?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Proxy
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/proxy/are-you-named-person">
                Are you the named person?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/proxy/name">
                What is your name?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/proxy/reason">
                Why are you completing this person's information?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Contact details
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/contact-details/contact-preference">
                How would you prefer to be contacted?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/contact-details/email-address">
                What is your name?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/contact-details/telephone-number">
                Why are you completing this person's information?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Occupation
          </p>
          <ul class="govuk-list">
            <li>
              <em>to be designed</em>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Check answers (Personal details)
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/check-answers">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/personal-details/check-answers--locked">
                Check your answers before submitting your information (locked)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Health information
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            NHS number
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/health-information/nhs-number/know">
                Do you know your NHS number?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/health-information/nhs-number/number">
                What is your NHS number?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Vaccines
          </p>
          <ul class="govuk-list">
            <li>
              <em>to be designed</em>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Treatment (medication)
          </p>
          <ul class="govuk-list">
            <li>
              <em>to be designed</em>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Check answers (Health information)
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/health-information/check-answers">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/health-information/check-answers--locked">
                Check your answers before submitting your information (locked)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Symptoms and health advice
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">
            Symptoms
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms/symptoms-avian-influenza">
                Do you have any of these symptoms?: Avian Influenza
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms/symptoms-covid-19">
                Do you have any of these symptoms?: COVID-19
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms/symptoms-covid-19">
                Do you have any of these symptoms?: COVID-19 (locked)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms/symptoms-monkeypox">
                Do you have any of these symptoms?: Monkeypox
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms/symptoms-start-date">
                When did your symptoms first start?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms/symptoms-start-date--locked">
                When did your symptoms first start? (locked)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms/check-answers">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/symptoms/check-answers--locked">
                Check your answers before submitting your information (locked)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Health advice
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/symptoms-and-health-advice/health-advice/health-advice">
                Health advice
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Where you lived or stayed
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Places stayed overnight
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Current address
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/current-address/address">
                Where are you living or staying right now?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/current-address/address--no-js">
                Where are you living or staying right now? (JavaScript disabled)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/current-address/housing-type">
                What type of housing is your current address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/current-address/other-place">
                What type of place is your current address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/current-address/check-answers">
                Check your answers for your current address
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Other addresses
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/other-address/address">
                Where else did you stay?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/current-address/address--no-js">
                Where else did you stay? (JavaScript disabled)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/other-address/housing-type">
                What type of housing is your other address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/other-address/other-place">
                What type of place is your other address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/other-address/dates-stayed">
                Which days were you at your other address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/other-address/check-answers">
                Check your answers for your other address
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/review/anywhere-else">
                Do you need to add another place?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/review/submit-information">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/review/remove-place">
                Are you sure you want to remove this address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/review/confirmation/citizen">
                Your information is complete (citizen of care home or prison)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/places-stayed-overnight/review/cinformation/staff">
                Your information is complete (staff of care home or prison)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              People at places stayed overnight
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            People
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/people/people-at-address">
                Did you have anyone stay overnight or visit?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/people/add-names">
                Name people at the address
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/people/overnight-stay">
                Did the person stay overnight at the address?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Overnight stay
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/overnight-stay/dates-of-stay">
                When did they stay overnight at the address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/overnight-stay/email-address">
                Which email address can we contact them on?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/overnight-stay/telephone-number">
                Which telephone number can we contact them on?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/overnight-stay/age">
                Is this person 18 years old or over?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/overnight-stay/check-answers">
                Check your answers for the person
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/overnight-stay/change-name">
                What is their name? (if they need to change their answer)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Visitor
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/visitor/dates-of-stay">
                When did they visit the address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/visitor/email-address">
                Do you know their email address?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/visitor/telephone-number">
                Do you know their telephone number?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/visitor/age">
                Is this person 18 years old or over?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/visitor/live-in-england">
                Does the person live in England?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/visitor/country">
                Where does the person live?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/visitor/check-answers">
                Check your answers for the visitor
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/visitor/change-name">
                What is their name? (if they need to change their answer)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/review/submit-information">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/review/advice">
                Advice for people you live with
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/review/remove-person">
                Are you sure you want to remove this person?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/people-at-places-stayed-overnight/review/anywhere-else">
                Do you need to add someone? (returning user)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Where you travelled
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              International travel
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Travel into the UK
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Did you travel into the UK?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Trip details
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Trip entering the UK
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Arrival at UK arrival port
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Did you visit any other countries or teritories visited on this trip?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Which countries did you visit on this trip before entering the UK?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Service details of trip from last stop before the UK to UK port of arrival
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Actual travel details of transport from last stop before the UK to UK port of arrival
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Onward domestic travel
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Arrival at UK airport 2
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Service details of flight from UK airport 1 to UK airport 2
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Actual travel details from UK airport 1 to UK airport 2
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Check answers
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Check your answers for international trip
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Did you travel into the UK at any other time? (also for returning user)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Remove trip
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Domestic flights
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            Took domestic flight
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Did you take any domestic flights within the UK?
              </a>
            </li>

            <hr class="govuk-section-break govuk-section-break--m">

            <p class="govuk-body">
              Trip details
            </p>
            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Domestic flight within the UK
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Arrival at UK airport destination
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Service details of flight from UK airport 1 to UK airport 2
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Actual travel details from UK airport 1 to UK airport 2
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Check answers for domestic flight trip
                </a>
              </li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--m">

            <p class="govuk-body">
              Review
            </p>
            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Another trip (also for returning user)
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Check your answers before submitting your information
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="#">
                  Remove trip
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Places you visited
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Places of activities outside your home
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              People at activities outside your home
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Review
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Health advice
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      About your contacts
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              International travel of contacts
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            International travel of contacts
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/international-travel-of-contacts/contact-with-case">
                Have you been in contact with anyone that tested positive for [disease type]?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/international-travel-of-contacts/contacts-travelled">
                Did these people travel outside of the UK shortly before they tested positive for [disease type]?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/international-travel-of-contacts/countries">
                Which countries did these people travel to before they tested positive for [disease type]?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/international-travel-of-contacts/check-answers">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/international-travel-of-contacts/check-answers--locked">
                Check your answers before submitting your information (locked)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Cause of infection
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            How and where
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/cause-of-infection/know-how">
                Do you think you know how you caught [disease type]?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/cause-of-infection/where">
                Where do you think you caught [disease type]?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/cause-of-infection/who">
                Who is the person you think you caught [disease type] from?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/cause-of-infection/positive-case-at-home">
                Did this person recently test positive for [disease type]?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/cause-of-infection/positive-case-outside-home">
                Were you in contact with anyone at this location who has recently tested positive for [disease type]?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/cause-of-infection/check-answers">
                Check your answers before submitting your information
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/cause-of-infection/check-answers--locked">
                Check your answers before submitting your information (locked)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Complete form
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Support
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Support during self-isolation
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/support/support">
                Do you think you might need any support during self-isolation?
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Equality information
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Equality questions
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/equality-questions">
                Do you want to answer the equality questions?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Date of birth
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/date-of-birth">
                What is your date of birth?
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Sex and gender identity
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/sex-and-gender-identity">
                Sex and gender identity
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Ethnicity
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/ethnicity/ethnic-group">
                What is your ethnic group?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/ethnicity/ethnic-background/white">
                Which of the following best describes your White background?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/ethnicity/ethnic-background/mixed">
                Which of the following best describes your Mixed or Multiple ethnic groups background?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/ethnicity/ethnic-background/asian">
                Which of the following best describes your Asian or Asian British background?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/ethnicity/ethnic-background/black">
                Which of the following best describes your Black, African, Caribbean or Black British background?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/equality-information/ethnicity/ethnic-background/other">
                Which of the following best describes your background?
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Confirmation
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            Border response compliance
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/confirmation/border-response/agreement">
                Do you agree to quarantine as instructed?
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/confirmation/border-response/agreement--locked">
                Do you agree to quarantine as instructed? (locked)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/confirmation/border-response/compliant">
                You must quarantine (compliant)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/confirmation/border-response/non-compliant">
                You must quarantine (non-compliant)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Positive cases and exposed individuals
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/confirmation/positive-case">
                Information submitted (Positive case)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/confirmation/exposed-individual">
                Information submitted (Exposed individual)
              </a>
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">
            Traced by a different process
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/confirmation/traced-by-different-process/citizen">
                Your information is complete (Citizen)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/confirmation/traced-by-different-process/citizen">
                Your information is complete (Staff)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">
      Other
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              HTTP Status Code errors
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Client error codes (400s)
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/server-errors/not-authorised">
                You are not authorised to view this page (403)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/server-errors/page-not-found">
                Page not found (404)
              </a>
            </li>
          </ul>
          <p class="govuk-body">
            Server error codes (500s)
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/server-errors/problem-with-service">
                Sorry, there is a problem with the service (500)
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/server-errors/service-unavailable">
                Sorry, the service is unavailable (503)
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Other pages
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class="govuk-body">
            Other pages
          </p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/other/problem-with-link">
                There is a problem with your link
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/other/save-and-exit">
                Your information has been saved
              </a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/other/timeout">
                Your session has expired
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <p class="govuk-body-s">
      Last updated 21 August 2022
    </p>

  </div>
</div>

{% endblock %}
