{% extends 'layout.html' %}

{% block pageTitle %}
Your session has expired | UK Health Security Agency
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Hi Sam!
    </h1>

    <p class="govuk-body">
      It looks like you've been inactive for more than 30 minutes. Your session has expired. This is to protect your security.
    </p>

    <p class="govuk-body">
      Select the link from the email or text message again to continue from where you left off.
    </p>

    <p class="govuk-body">
      If you've had more than one message from us, make sure you select the most recent message.
    </p>

  </div>
</div>
{% endblock %}
