{% extends 'layout.html' %}

{% block pageTitle %}
Did you stay anywhere else? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Places stayed overnight from Monday 1 August to Wednesday 3 August
      </h1>

      <div class="govuk-inset-text">
        <p><strong>Already added:</strong></p>
        <ul class="govuk-list">
          <li>{{ data['address-1-line-1'] | default('1 Sovereign Way') }}, {{ data['address-1-line-2'] | default('Eastleigh') }}, {{ data['address-1-post-code'] | default('SO50 4SA') }}</li>
        </ul>
      </div>

      <hr class="govuk-section-break govuk-section-break--m">

      <form name="myForm" action="/places-stayed-overnight/other-address/address" onsubmit="return validateForm()" method="post" required>

        <div class="govuk-form-group" id="anyone-else-form-group">
          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 id="h2-content" class="govuk-fieldset__heading">
                Did you stay anywhere else?
              </h2>
            </legend>

            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="anyone-else-yes" name="anyone-else" type="radio" value="Yes, I need to add another person">
                <label class="govuk-label govuk-radios__label" for="anyone-else-yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="anyone-else-no" name="anyone-else" type="radio" value="No, I do not need to add anyone">
                <label class="govuk-label govuk-radios__label" for="anyone-else-no">
                  No
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

  </div>
</div>

<script>
  window.onload = function() {
    // Proxy check
    var proxyValue = "{{ data['proxy'] }}";

    if (proxyValue == "No") {
      $('#h2-content').html('Did {{ data["upstream-case-given-names"] | default("Sarah") }} {{ data["upstream-case-family-name"] | default("Philips") }} stay anywhere else?');
    }
  }
</script>
{% endblock %}
