{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers for an overnight stay | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Check your answers for {{ data['other-address-1-line-1'] | default('1 Sovereign Way') }}
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address living or staying at right now
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['other-address-1-line-1'] | default('33 Rocky Park Road') }}<br>
          {{ data['other-address-1-town-city'] | default('Plymouth') }}<br>
          {{ data['other-address-1-post-code'] | default('SO50 4SA') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of housing
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['other-address-1-housing-type'] | default('House or flat') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> type of housing</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="/places-stayed-overnight/review/anywhere-else" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>

</script>
{% endblock %}
